.friendMessage {
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    height: 100px;
    min-width: 130px;
}

.friendImageAndText {
    display: flex;
    justify-content: left;
}

.friendImageAndText img {
    height: 50px;
    min-width: 50px;
}
.friendText {
    border-radius: 5px;
    background-color: gainsboro;
    height: 50px;
    min-width: 100px
}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
}
